.entreprises-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.entreprises-container .recherche-entreprises-line {
    width: 100%;
    padding: 0 0.5rem;
    min-height: 42px;
    max-height: 42px;
    margin: 1rem 0;
    align-items: stretch;
}

.entreprises-container .recherche-entreprises-line .recherche-entreprises-input {
    width: 100%;
    min-height: 42px;
    max-height: 42px;
    border-radius: 20px;
    border: 2px solid var(--border-color);
    display: flex;
}

.recherche-entreprises-input button {
    min-height: 100%;
    padding: 0 1.6rem;
    font-family: "Kumbh Sans", sans-serif;
    font-size: 0.9rem;
    font-weight: 550;
    color: var(--main-color);
    border-right: 2px solid var(--border-color);
    display: flex;
    align-items: center;
    gap: 1rem;
}

.recherche-entreprises-input .input-line {
    width: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    padding: 0 1rem;
}

.recherche-entreprises-input input {
    width: 100%;
    min-height: 100%;
    border: 0;
    outline: none;
    padding: 0 1rem
}

.recherche-entreprises-input input::placeholder {
    color: var(--recherche-font-color);
    font-family: "Kumbh Sans", sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
}

.entreprises-container .recherche-entreprises-line {
    width: 100%;
    display: flex;
    margin-top: auto;
    align-items: center;
    justify-content: space-between;
}

.entreprises-container .btns-card-line button {
    display: flex;
    align-items: center;
    width: 110px;
    padding: 6px 0.5rem;
    border-radius: 10px;
    justify-content: space-between;
}

.entreprises-container .btns-card-line .supprimer-btn {
    background-color: #EFA4A4;
    color: #A52A2A;
}

.entreprises-container .btns-card-line .accept-btn {
    background-color: #D3F1DF;
    color: #72BF78;
}

.entreprises-container .precedent-btn {
    color: #7042C0;
    font-family: 'Nunito', sans-serif;
    font-size: 19px;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 14px;
    margin-right: 8px;
}

.add-departement-success .btns-line {
    display: flex;
    align-self: flex-end;
    gap: 10px;
    margin-top: auto;
}

.add-departement-success button {
    padding: 5px 0;
    background: #A67EF2;
    width: 110px;
    border-radius: 20px;
    color: #fff;
    font-weight: 500;
}

.annees-container input[type="checkbox"]:checked {
    accent-color: #A67EF2;
}

.loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.loader-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    width: 400px;
    height: 150px;
    border-radius: 30px;
}

.loader-dots {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader-dot {
    width: 12px;
    height: 12px;
    margin: 0 5px;
    background-color: #925FE2;
    border-radius: 50%;
    display: inline-block;
    animation: bounce 1.4s infinite ease-in-out both;
}

.loader-dot:nth-child(1) {
    animation-delay: -0.32s;
}

.loader-dot:nth-child(2) {
    animation-delay: -0.16s;
}

.loader-text {
    margin-top: 20px;
    color: #333;
    font-size: 19px;
    font-weight: 600;
    font-family: 'Kumbh Sans', sans-serif;
}

@keyframes bounce {

    0%,
    80%,
    100% {
        transform: scale(0);
    }

    40% {
        transform: scale(1);
    }
}

.refuse-theme-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 540px;
    border-radius: 40px;
    background-color: #FCFAFA;
    box-shadow: 2px 8px 30px rgba(0, 0, 0, 0.12);
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    z-index: 1000;
    gap: 1rem;
}

.refuse-theme-form form {
    width: 100%;
    margin-top: 10px;
}

.refuse-theme-form form .input-flex-refuseTheme {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.refuse-theme-form form .input-flex-refuseTheme textarea {
    width: 100%;
    height: 80px;
    padding: 10px 15px;
    border-radius: 20px;
    border: 1px solid #A7A7A7;
    font-size: 0.9rem;
    outline: none;
    background-color: transparent;
    font-weight: 400;
    color: #060606;
    resize: none;
}

.refuse-theme-form form .input-flex-refuseTheme textarea::-webkit-scrollbar {
    display: none;
}