.deco-container{
    width: 100%;
    height: 160px;
    padding-right: 12px;
}

.deco-wrapper{
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, rgba(146, 95, 226, 0.9) 0%,rgba(146, 95, 226, 0.8) 50%,rgba(146, 95, 226, 0.65) 88%, rgba(223, 207, 247, 1) 100%);
    border-radius: 20px;
    display: flex;
    padding: 1.2rem 2.5rem;
    justify-content: space-between;
}

.deco-wrapper .school-name-box{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;
}

.school-name-box .school-name-line{
    display: flex;
    flex-direction: column;
    gap: 3px;
}