.navbar-container {
    grid-column: span 1;
    grid-row: span 2;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8px 12px;
    background-color: #fff;
}

.nevbar-wrapper {
    width: 100%;
    height: 100%;
    max-height: 100vh;
    /* Limite la hauteur pour ne pas dépasser l'écran */
    overflow: hidden;
    background: linear-gradient(to top, rgba(146, 95, 226, 0.9) 0%, rgba(146, 95, 226, 0.9) 80%, #E2D4F7 100%);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
    align-items: center;
}

.nevbar-wrapper .logo-box {
    min-width: 100px;
    min-height: 100px;
    border-radius: 20px;
    background: linear-gradient(90deg, #925FE2 0%, #7042C0 100%);
    margin-bottom: 2rem;
}

.nevbar-wrapper .lists-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
    /* Permet de s'étendre dans l'espace disponible */
    overflow-y: auto;
    /* Active le scroll vertical si le contenu dépasse */
    max-height: calc(100vh - 150px);
}

.lists-container::-webkit-scrollbar {
    display: none;
}

.lists-container ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 1.5rem;
    padding-bottom: 12px;
    border-bottom: 1px solid #fff;
}

.lists-container ul:nth-child(2) {
    padding-top: 12px;
    margin-bottom: 12px;
}

.lists-container ul .list-item {
    color: #fff;
    display: flex;
    width: 100%;
    padding: 0.5rem 0.3rem;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    gap: 7px;
    font-weight: 450;
    font-size: 0.9rem;
    align-items: flex-end;
    border-left: 7px solid transparent;
    position: relative;
    cursor: pointer;
    margin-bottom: 0.4rem;
    transition: 0.3s ease-in;
}

.lists-container ul .list-item.active {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 100%);
    border-left: 7px solid #fff;
}

.nevbar-wrapper .logout-line {
    display: flex;
    padding: 0 2rem;
}

.logout-ul {
    margin-top: auto;
    /* Pousse la déconnexion en bas */
    width: 100%;
    padding: 1rem;
    border-bottom: none !important;

}

.arrow-icon {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
}

.arrow-icon-rtl {
    right: auto;
    left: 12px;
}

.arrow-icon.rotate {
    transform: rotate(180deg);
    transition: transform 0.5s ease;
}

/*------------The Parametres List----------*/
.prameteres-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0;
    margin-bottom: 0.4rem;
}

.prameteres-item li {
    margin-bottom: 0 !important;
}

.prameteres-item .sub-parametres-menu {
    display: flex;
    align-items: flex-start;
    margin-left: 1.5rem;
    padding: 0;
    gap: 0.7rem;
    position: relative;
    /*la stupidité koun jat bnadem li9 n5dm b hadou mchi display block y3achi ga3 display flex yrou7 fiha ga3*/
    visibility: hidden;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.6s ease-in, max-height 0.6s ease-in, visibility 0.6s ease-in;
}

.prameteres-item.open .sub-parametres-menu {
    visibility: visible;
    opacity: 1;
    max-height: 500px;
}

.sub-parametres-menu .list-icon {
    flex-shrink: 0 !important;
}

.list-icon-rtl {
    transform: scaleX(-1);
}

.sub-parametres-menu ul {
    border: none !important;
    padding: 0;
    width: 100%;
    height: 158px;
    flex-grow: 1;
    justify-content: space-between;
}

.sub-parametres-menu ul .sub-list-item {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 100%;
    font-size: 0.9rem;
    font-weight: 450;
    color: #fff;
    text-transform: capitalize;
    transition: 0.3s ease;
}


.sub-list-item.active {
    text-decoration: underline;
}

.navbar-container .settings-ul,
.navbar-container .langues-ul {
    position: absolute;
    background-color: #7042C0;
    z-index: 100;
    bottom: 80%;
    width: 105%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 0;
    padding: 1rem 0 !important;
}

.settings-ul .sub-settings-list-item,
.langues-ul .sub-langues-list-item {
    color: #fff;
    display: flex;
    width: 100%;
    gap: 15px;
    font-weight: 500;
    font-size: 1rem;
    align-items: flex-end;
    border-left: 7px solid transparent;
    position: relative;
    cursor: pointer;
    padding: 0 0.9rem;
}

.langues-ul img {
    width: 28px;
    height: 28px;
}

.langues-ul .title-langues {
    width: 100%;
    display: flex;
    padding: 0.5rem 0.7rem 1.2rem 0.7rem;
    border-bottom: 1px solid #fff;
    justify-content: space-between;
}

.langues-ul .title-langues .left-line {
    display: flex;
    font-weight: 500;
    font-size: 1rem;
    align-items: center;
    gap: 8px;
    color: #fff;
}

.langues-ul .title-langues .langue-icon{
    width: 22px;
    height: 22px;
}

.langues-ul .arrow-langues-icon {
    display: inline-block;
    transform: rotate(90deg);
    cursor: pointer;
}

.langues-ul .arrow-langues-icon.rtl-icon{
    transform: rotate(-90deg);
}