.departements-container,
.salles-container,
.specialites-container {
    width: 100%;

}

.departements-container .departements-wrapper,
.salles-container .salles-wrapper,
.specialites-container .specialites-wrapper,
.annees-container .annees-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-right: 12px;
    font-family: "Poppins", sans-serif;
    margin-top: 1rem;
    padding-left: 2rem;
    padding-right: 12px;
    padding-bottom: 3rem;
}

.departements-wrapper .title-line,
.salles-wrapper .title-line,
.specialites-wrapper .title-line,
.annees-wrapper .title-line {
    width: 100%;
    display: flex;
    padding-right: 12px;
    justify-content: space-between;
}

.departements-wrapper .formDep-container,
.salles-wrapper .formSall-container,
.specialites-wrapper .formSpec-container,
.annees-wrapper .formAnne-container {
    width: 100%;
    display: flex;
    flex-direction: column;

    margin-top: 1.5rem;
}

.formDep-container .form-table-container,
.formSall-container .form-table-container,
.formSpec-container .form-table-container,
.formAnne-container .form-table-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    gap: 0.6rem;
}

.formSall-container .form-table-container,
.formAnne-container .form-table-container {
    width: 100%;
}

.form-table-container form {
    width: 100%;
    display: flex;
    gap: 0.5rem;
}

.form-table-container form .common-input {
    height: 52px;
    padding: 0 15px;
    border: 2px solid #D9E1E7;
    border-radius: 20px;
    outline: none;
    width: auto;
    min-width: 0;
    box-sizing: border-box;
}

.form-table-container form input::placeholder {
    color: #8A8A8A;
    font-family: "Kumbh Sans", sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
}

.form-table-container form input:focus {
    border: 2px solid #A277F0;
}

.form-table-container .annuler-button,
.form-table-container .ajouter-btn {
    height: 52px;
    background-color: #F9F9F9;
    border-radius: 20px;
    border: 2px solid #D9E1E7;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 500;
}

.form-table-container .ajouter-btn {
    background-color: #BE9EFF;
    border: 2px solid transparent;
    color: #fff;
}

.form-table-container .departements-table,
.form-table-container .salles-table,
.form-table-container .specialites-table,
.form-table-container .annees-table {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.departements-table .departement-line,
.salles-table .salle-line,
.specialites-table .specilaite-line,
.annees-table .annee-line {
    width: 100%;
    height: 56px;
    padding: 0 1.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #E4E4E4;
    border-radius: 20px;
    cursor: pointer;
}

.departement-line .line-btns,
.salle-line .line-btns,
.specilaite-line .line-btns,
.annee-line .line-btns {
    display: flex;
    gap: 5px;
}

.departement-line .line-btns button,
.salle-line .line-btns button,
.specilaite-line .line-btns button,
.annee-line .line-btns button {
    padding: 5px 0;
    border-radius: 20px;
    background-color: #E2E4E580;
    width: 110px;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    font-size: 13px;
}

.departements-container .enregistre-btn,
.salles-container .enregistre-btn,
.specialites-container .enregistre-btn,
.annees-container .enregistre-btn {
    width: 200px;
    height: 46px;
    background-color: #925FE2;
    color: #fff;
    border-radius: 20px;
    font-size: 1.05rem;
    font-weight: 500;
    position: fixed;
    bottom: 10px;
}

.departements-container .precedent-btn,
.salles-container .precedent-btn,
.specialites-container .precedent-btn,
.annees-container .precedent-btn {
    color: #7042C0;
    font-family: 'Nunito', sans-serif;
    font-size: 19px;
    font-weight: 700;
    display: flex;
    align-items: flex-end;
    gap: 14px;
}


.formSall-container .select-scolarite-line,
.formAnne-container .select-scolarite-line {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    cursor: pointer;
}

.formSall-container .select-scolarite-line .select-input,
.formAnne-container .select-scolarite-line .select-input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    color: #8A8A8A;
    font-family: "Kumbh Sans", sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
    width: 100%;
    outline: none;
    cursor: pointer;
}

.salles-table .salle-line.selected,
.departements-table .departement-line.selected,
.specialites-table .specilaite-line.selected,
.annees-table .annee-line.selected {
    border: 2px solid #A277F0;
}

.departements-wrapper .rtl-icon,
.salles-container .rtl-icon,
.specialites-container .rtl-icon,
.annees-container .rtl-icon {
    transform: scaleX(-1);
}

.add-departement-success {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 540px;
    height: 220px;
    border-radius: 40px;
    background-color: #FCFAFA;
    box-shadow: 2px 8px 30px rgba(0, 0, 0, 0.12);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 1.5rem;
}

.add-departement-success .btns-line {
    display: flex;
    align-self: flex-end;
    gap: 10px;
    margin-top: auto;
}

.add-departement-success button {
    padding: 5px 0;
    background: #A67EF2;
    width: 110px;
    border-radius: 20px;
    color: #fff;
    font-weight: 500;
}

.annees-container input[type="checkbox"]:checked {
    accent-color: #A67EF2;
}

.departements-wrapper .return-to-scolarite:hover,
.salles-wrapper .return-to-scolarite:hover,
.specialites-wrapper .return-to-scolarite:hover,
.annees-wrapper .return-to-scolarite:hover {
    text-decoration: underline;
    color: #000;
}