:root {
    --main-color: #925FE2;
    --supprimer-color: #D9534F;
    --border-color: #D9E1E7;
    --recherche-font-color: #8A8A8A;
    --table-header-font-color: #727272;
    --table-elements-font-color: #060606;
    --pink-color: #D43F8D;
    --red-color: #E63946;
    --blue-color: #0095FF;
    --green-color: #17BEBB;
    --tr-border-color: #E4E4E4;
    --btns-background-color: #E2E4E5;
    --table-head-background: #F9F9F9;
}

#dynamic-liste {
    height: calc(100vh - 65px);
    overflow-y: auto;
}

#dynamic-liste::-webkit-scrollbar {
    display: none;
}

.groupes-liste-container {
    width: 100%;
    height: 100%;
}

.groupes-liste-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-right: 12px;
}

.groupes-liste-wrapper .btns-container {
    width: 100%;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btns-container .ajouter-groupes-btns {
    display: flex;
    gap: 0.8rem;
}

.ajouter-groupes-btns button,
.groupes-liste-wrapper .supprimer-btn button {
    font-family: "Kumbh Sans", sans-serif;
    font-size: 0.9rem;
    font-weight: 500;
    padding: 10px 12px;
    border-radius: 22px;
    color: var(--main-color);
}

.groupes-liste-wrapper .supprimer-btn button {
    background-color: var(--supprimer-color);
    color: #fff;
}

.groupes-liste-wrapper .recherche-groupes-line {
    width: 100%;
    padding: 0 0.5rem;
    min-height: 50px;
    margin: 1rem 0;
}

.recherche-groupes-line .recherche-groupes-input {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 2px solid var(--border-color);
    display: flex;
}

.recherche-groupes-input button {
    height: 100%;
    padding: 0 1.6rem;
    font-family: "Kumbh Sans", sans-serif;
    font-size: 0.9rem;
    font-weight: 550;
    color: var(--main-color);
    border-right: 2px solid var(--border-color);
    display: flex;
    align-items: center;
    gap: 1rem;
}

.recherche-groupes-input .input-line {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 1rem;
}

.recherche-groupes-input input {
    width: 100%;
    height: 100%;
    border: 0;
    outline: none;
    padding: 0 1rem
}

.recherche-groupes-input input::placeholder {
    color: var(--recherche-font-color);
    font-family: "Kumbh Sans", sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
}

.groupes-table {
    width: 100%;
    margin-top: 1rem;
}

.groupes-table table {
    width: 100%;
    border-collapse: separate;
    /* Allows border-radius to work */
    border-spacing: 0 7px;
}

.groupes-table table thead {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 10;
}

.groupes-table tr {
    margin: 5px 0;
    width: 100%;
}

.groupes-table table thead th {
    font-weight: 450;
    font-size: 0.9rem;
    color: var(--table-header-font-color);
    padding: 1rem 0 !important;
    background-color: var(--table-head-background);
    border: 1px solid var(--tr-border-color);
    border-left: none;
    border-right: none;
    width: 12.5%;
    text-align: center;
}

.groupes-table table thead th:first-child,
.groupes-table table thead th:last-child {
    text-indent: 1rem;
    /* Moves text inside without affecting table structure */
    text-align: left;
}

.groupes-table table td {
    font-weight: 400;
    font-size: 0.9rem;
    color: var(--table-elements-font-color);
    text-align: center;
    border: 1px solid var(--tr-border-color);
    border-left: none;
    border-right: none;
    padding: 0.6rem 0 !important;
}

.groupes-table .last-td {
    display: flex;
    align-items: center;
    padding: 1rem;
    text-align: center;
}

.last-td .number {
    flex-grow: 1;
    text-align: center;
}

.last-td .line-btns {
    display: flex;
    gap: 5px;
    margin-left: auto;
    margin-right: 1rem;
    align-items: center;
    gap: 8px;
}

.groupes-table .last-td .line-btns button {
    padding: 5px 0;
    border-radius: 20px;
    background-color: #925FE2;
    width: 115px;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.grade-td span {
    padding: 5px 15px;
    background-color: #D43F8D20;
    border-radius: 20px;
    color: var(--pink-color);
    border: 1px solid var(--pink-color);
    font-weight: 500;
}

.to-top .arrow-top {
    transform: rotate(180deg);
    color: #fff;
}

/*------------No enseignants---------------*/

.groupes-liste-wrapper .no-enseignants-available {
    width: 100%;
    height: calc(100vh - 280px);
    background-color: #F9F9F9;
    border-radius: 10px;
    border: 3px solid #E4E4E4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    font-family: "Kumbh Sans", sans-serif;
}

.no-enseignants-available .empty-icon {
    width: 200px;
    height: 170px;
}

.no-enseignants-available .lines-box {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    align-items: center;
}

/*----------Groupe Detail-----------*/

.line-btns .download-btn {
    background-color: transparent !important;
    color: #8491A5 !important;
    font-size: 0.6rem !important;
    padding: 0 !important;
}

.groupes-liste-wrapper .title-detail-line {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.title-detail-line button {
    padding: 7px 14px;
    border-radius: 20px;
    background-color: #925FE2;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 500;
}

.groupes-liste-container .about-groupe {
    position: absolute;
    right: 0;
    top: 0;
    width: 400px;
    height: 100%;
    background-color: #FCFAFA;
    box-shadow: 2px 8px 30px rgba(0, 0, 0, 0.12);
    z-index: 2000;
    border-left: 2px solid #D9E1E7;
    border-top-left-radius: 20px;
    border-top: 2px solid #D9E1E7;
    display: flex;
    flex-direction: column;
    padding: 0 0.8rem;
    padding-top: 2rem;
    gap: 2rem;
}

.groupes-liste-container .about-groupe .about-title {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 0 1.5rem;
}


.groupes-liste-container .about-groupe table th {
    font-weight: 450;
    font-size: 0.9rem;
    color: var(--table-header-font-color);
    padding: 1rem 0 !important;
    background-color: #F5F5F5;
    background-color: var(--table-head-background);
    border: 1px solid var(--tr-border-color);
    border-left: none;
    border-right: none;
    text-align: center;
    width: 33.33%;
}

.groupes-liste-container .about-groupe table tr {
    margin: 5px 0;
    width: 100%;
}

.groupes-liste-container .about-groupe table td {
    margin: 5px 0;
    font-weight: 400;
    font-size: 0.9rem;
    color: var(--table-elements-font-color);
    text-align: center;
    border: 1px solid var(--tr-border-color);
    border-left: none;
    border-right: none;
    padding: 0.8rem 0 !important;
    font-size: 0.8rem;
}

.th-rtl {
    padding-right: 0.5rem !important;
    text-align: right;
    border-left: 1px solid var(--tr-border-color) !important;
    border-top-left-radius: 8px !important;
    border-bottom-left-radius: 8px !important;
}

.th-ltr {
    padding-left: 1rem !important;
    text-align: left;
    border-top-right-radius: 8px !important;
    border-bottom-right-radius: 8px !important;
    border-right: 1px solid #E4E4E4 !important;
    border-left: none;
}