.loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.loader-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    width: 400px;
    height: 150px;
    border-radius: 30px;
}

.loader-dots {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader-dot {
    width: 12px;
    height: 12px;
    margin: 0 5px;
    background-color: #925FE2;
    border-radius: 50%;
    display: inline-block;
    animation: bounce 1.4s infinite ease-in-out both;
}

.loader-dot:nth-child(1) {
    animation-delay: -0.32s;
}

.loader-dot:nth-child(2) {
    animation-delay: -0.16s;
}

.loader-text {
    margin-top: 20px;
    color: #333;
    font-size: 19px;
    font-weight: 600;
    font-family: 'Kumbh Sans', sans-serif;
}

.return-to-themes:hover {
    text-decoration: underline;
    color: #000;
}

@keyframes bounce {

    0%,
    80%,
    100% {
        transform: scale(0);
    }

    40% {
        transform: scale(1);
    }
}

.grid-rendez-vous {
    display: grid;
    grid-template-columns: repeat(2, 47%);
    justify-content: space-between;
    row-gap: 1rem;
    /* pour espacement vertical */
}