.App {
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
}

.admin-grid {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: minmax(20%, 23%) auto;
  grid-template-rows: minmax(50px, 65px) 1fr;
  gap: 5px;
}

.admin-grid .main-container{
  height: calc(100vh - 65px);
  overflow-y: auto;
  position: relative;
}

.main-container::-webkit-scrollbar{
  display: none;
}

@media screen and (min-width: 1700px) {
  .admin-grid {
    grid-template-columns: minmax(17%, 250px) auto; /* Modifie la largeur des colonnes */
  }
}
